body {
  margin: 20px;
}
.divStyleLevel {
  width: 20%;
  display: inline-block;
  margin-right: 10px;

}

.divStyleSubject {
  width: 30%;
  display: inline-block;
  margin-right: 10px;

}
.searchbox {
  width: 20%;
  height:35px;
  float: right;

  border: 1px solid  #666666;
  color: #000000;
  padding-left: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
